{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [
    rebar3_hex,
    rebar3_lint,
    erlfmt
]}.

{hex, [{doc, edoc}]}.

{erlfmt, [write]}.

{dialyzer, [{warnings, [no_return, error_handling, underspecs, unmatched_returns, no_unknown]}]}.
{xref_checks, [deprecated_function_calls, deprecated_functions]}.
